/*
* { box-sizing: border-box }

body {
  font-family: sans-serif;
  background: black;
  color: white;
  max-width: 36em;
  margin: 0 auto
}

a {
  color: lime
}

label, input, textarea, button { margin: 1em 0 }

input, textarea, button {
  font-size: 1em;
  padding: 0.5em;
  border-width: 0;
  border-radius: 0.25em
}

input, textarea { width: 100% }

img {
  max-width: 100%;
  max-height: 15em
}

.danger {
  background: red;
  color: white
}
*/

body{
margin: 0;
}

h2 {
text-align: center;
color: white;
text-decoration: none;
}

nav{
background-color: white;
display: grid;
grid-template-columns: 1fr 2fr 1fr;
box-shadow: 0 .1em 1em 0 rgba(0,0,0,0.2),0 0 .6em 0 rgba(0,0,0,0.2);
}

nav img{
height: 3rem;
margin: 0 auto;
margin-bottom: .5em;
margin-top: .5em;
}

section{
height: calc(33vh - 3em);
background: linear-gradient(#8b1d59, #b7054f);
margin-left: 1em;
margin-right: 1em;
margin-bottom: 1em;
}

.changes{
display: grid;
grid-template-columns: 50% 50%;
}

.changes section{
background-color: #c4c5c5;
}

.changes section:nth-child(even){
margin-left: 0;
}




