<% include head.ejs %>
<link rel=stylesheet href="/findYourWish.css">
<!--<link rel=stylesheet href=/index.css>-->

<% include nav.ejs %>

<title>Our Wish - </title>
<h1>Find Your Wish</h1>

<p><%= data.name %></p>







