<% include head.ejs %>
<link rel=stylesheet href=/index.css>

<title>Our Wish - Index</title>
<body>
<% include nav.ejs %>

<a href="/findYourWish"><section><h2>Find Wish</h2></section></a>
<div class="changes">
<a href="changeWish.html"><section><h2>Change Wish</h2></section></a>
<a href="/yourProfile"><section><h2>Your profile</h2></section></a>
<a href="chat"><section><h2>Chat</h2></section></a>
<a href="settings"><section><h2>Settings</h2></section></a>
</div>
</body>

<% include tail.ejs %>
