<% include head.ejs %>
<link rel=stylesheet href="/detailProfile.css">
<!--<link rel=stylesheet href=/index.css>-->

<% include nav.ejs %>

<title>Our Wish - Your profile</title>
<section>
<h1>hallo</h1>

</section>
